<IfModule mod_rewrite.c>
	RewriteEngine On

	# only non-www
	RewriteCond $1 !^www/

	# capture rewrite base
	RewriteCond $1::%{REQUEST_URI} ^(.*)::(.*?)/\1$

	# redirect to www
	RewriteRule ^(.*)$ %2/www/$1 [L,R=301]
</IfModule>

<IfModule !mod_rewrite.c>
	Require all denied
</IfModule>
